body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:rgb(228, 242, 246)
}

.left-container {
    display: flex;
    justify-content: left;
    height: 100vh;         
}

.inner-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.centered-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }